// ====================================
// Blokk Neue Regular Font
// http://blokkfont.com/
// ===================================
@font-face {
	font-family: 'BLOKKNeue-Regular';
	src: url('../fonts/BLOKK_BLOKKNeue/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.eot');
} // @font-face

@font-face {
	font-family: 'BLOKKNeue-Regular';
	src: url('../fonts/BLOKK_BLOKKNeue/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.woff') format('woff'),
	url('../fonts/BLOKK_BLOKKNeue/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
 } // @font-face